*{
  padding: 0;
  margin: 0;
}

body
{
  background-color: black;
}

header
{
  background-color: black;
  border: 8px solid white;
  padding-top: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.head
{
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

.block_logo
{
  width: 400px;
  height: 140px;
}

.description
{
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  padding-top: 40px;
}

.block_description
{
  width: 400px;
  height: 140px;
  display: inline-block;
}

.div_photo
{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(photo.jpeg);
  background-size: cover;
  height: 100vh;
}

.head_bridge
{
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  color:yellow;
}

.container_description_bridge
{
  height: 100vh;
}

.description_bridge
{
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

footer
{
  height: 100%;
  background-color: black;
  border: 8px solid white;
}
.head_footer
{
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

.menu li
{
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.menu li a
{
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 200px) {
  .head_bridge
{
  font-size: 57px;
}
  .description_bridge 
  {
    font-size: 14px;
  }
  
}

@media screen and (min-width: 576px) {
  .head_bridge
  {
    font-size: 63px;
  }
  .description_bridge 
  {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .head_bridge
  {
    font-size: 73px;
  }
  .description_bridge 
  {
    font-size: 23px;
  }
}

@media screen and (min-width: 823px) {
  .head_bridge
  {
    font-size: 83px;
  }
  .description_bridge 
  {
    font-size: 26px;
  }
}

@media screen and (min-width: 960px) {
  .head_bridge
  {
    font-size: 94px;
  }
  .description_bridge 
  {
    font-size: 31px;
  }
}

@media screen and (min-width: 1152px) {
  .head_bridge
  {
    font-size: 104px;
  }
  .description_bridge 
  {
    font-size: 37px;
  }
}

@media screen and (min-width: 1251px) {
  .head_bridge
  {
    font-size: 114px;
  }
  .description_bridge 
  {
    font-size: 41px;
  }
  .menu li
  {
    font-size: 30px;
  }
  .menu li a
  {
    font-size: 30px;
  }
  .head_footer
  {
    font-size: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .head_bridge
  {
    font-size: 128px;
  }
  .description_bridge 
  {
    font-size: 47px;
  }
  .menu li
  {
    font-size: 35px;
  }
  .menu li a
  {
    font-size: 35px;
  }
  .head_footer
  {
    font-size: 50px;
  }
}

@media screen and (min-width: 1694px) {
  .head_bridge
  {
    font-size: 138px;
  }
  .description_bridge 
  {
    font-size: 55px;
  }
  .menu li
  {
    font-size: 46px;
  }
  .menu li a
  {
    font-size: 46px;
  }
  .head_footer
  {
    font-size: 60px;
  }
  .head
  {
    font-size: 55px;
  }
}

@media screen and (min-width: 1920px) {
  .head_bridge
  {
    font-size: 152px;
  }
  .description_bridge 
  {
    font-size: 63px;
  }
  .menu li
  {
    font-size: 50px;
  }
  .menu li a
  {
    font-size: 50px;
  }
  .head_footer
  {
    font-size: 65px;
  }
  .head
  {
    font-size: 60px;
  }
}

@media screen and (min-width: 2880px) {
  .head_bridge
  {
    font-size: 220px;
  }
  .description_bridge 
  {
    font-size: 90px;
  }
  .menu li
  {
    font-size: 75px;
  }
  .menu li a
  {
    font-size: 75px;
  }
  .head_footer
  {
    font-size: 100px;
  }
  header
  {
    padding-bottom: 20px;
  }
  .head
  {
    font-size: 65px;
  }
}



